<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
    <link rel="stylesheet" href="{{ asset('signup-style.css') }}">
    <link href="{{ asset('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap') }}" rel="stylesheet">
</head>
<body>
<main>
    <div class="background">
        <div class="text">
            <h1>Signup</h1>
            <p>Have Account? <a href="{{ path('login') }}">Login</a></p>
        </div>
        <section id="main-content">
            <section class="wrapper">


                {{ form_start(form) }}
                <p></p>
                {{ form_widget(form.username) }}
                <p></p>
                {{ form_widget(form.email) }}
                <p></p>
                {{ form_widget(form.password) }}
                <p></p>
                {{ form_widget(form.numero) }}
                <p></p>
                {{ form_widget(form.age) }}
                <p></p>
                {{ form_widget(form.addresse) }}
                <p></p>
                {{ form_widget(form.role) }}
                <p></p>
                <div class="col-md-4">
                    <input type="file" id="{{ form.image.vars.id }}" name="{{ form.image.vars.full_name }}" class="default">
                </div>
                {% do form.image.setRendered %}

                <button class="btn" >{{ button_label|default('Save') }}</button>
                {{ form_end(form) }}



            </section>
        </section>
    </div>
</main>
</body>
</html>