{% extends 'base.html.twig' %}

{% block title %}Competition index{% endblock %}

{% block body %}
    <h1>Competition index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>RefCompetition</th>
                <th>Nom</th>
                <th>Theme</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competition in competitions %}
            <tr>
                <td>{{ competition.refCompetition }}</td>
                <td>{{ competition.nom }}</td>
                <td>{{ competition.theme }}</td>
                <td>{{ competition.dateDebut ? competition.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ competition.dateFin ? competition.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ competition.type }}</td>
                <td>
                    <a href="{{ path('competition_show', {'refCompetition': competition.refCompetition}) }}">show</a>
                    <a href="{{ path('competition_edit', {'refCompetition': competition.refCompetition}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('competition_new') }}">Create new</a>
{% endblock %}
