{% extends 'admin.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User </h1>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">

            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('recherche') }}">recherche</a></li>
        </ul>
    </div>
    <table class="table">

        <tbody  id="hi">
        {% for user in users %}

            <div class="white-panel pn">
                <div class="white-header">
                    <h5></h5>
                </div>
                <p><img src="{{ asset('/images/' ~ user.getImage()) }}" class="img-circle" width="50"></p>
                <p><b>{{ user.username }}</b></p>
                <div class="row">
                    <div class="col-md-3">
                        <p class="small mt">Email</p>
                        <p>{{ user.email }}</p>
                    </div>
                    <div class="col-md-2">
                        <p class="small mt">Numero</p>
                        <p>{{ user.numero }}</p>
                    </div>
                    <div class="col-md-2">
                        <p class="small mt">age</p>
                        <p>{{ user.age}}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="small mt">Addresse</p>
                        <p>{{ user.addresse }}</p>
                    </div>
                    <div class="col-md-2">
                        <p class="small mt">Role</p>
                        <p>{{ user.role }}</p>
                    </div>
                    <a href="{{ path('user_show', {'id': user.id}) }}"  class="btn btn-info">Afficher</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }} "class="btn btn-warning">Modifier</a>
                </div>
            </div>
            </div>


        {% endfor %}


        </tbody>


    </table>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#hi tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

{% endblock %}
