{% extends 'admin.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}
    <h1>Recherche</h1>
    <input class="form-control" id="myInput" type="text" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
            <th>Numero</th>
            <th>Age</th>
            <th>Image</th>
            <th>Addresse</th>
            <th>Role</th>

        </tr>
        </thead>
        <tbody id="hi">
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.numero }}</td>
                <td>{{ user.age }}</td>
                <td><img src="{{ asset('/../../../FirstProject/public/images/')}}{{ user.image }}" width="100"  /></td>

                <td>{{ user.addresse }}</td>
                <td>{{ user.role }}</td>
                <td>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#hi tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}
